services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
  db:
    image: postgres:18
    restart: always
    container_name: gardeners_db
    environment:
      .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
    volumes:
      - ./database/db-data/:/var/lib/postgresql