apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gardeners-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: gardeners-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:postgresql://db:5432/postgres
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: PGUSER
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: PGPASSWORD
