apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: gardeners-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: gardeners-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
